
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
        .strike                 { text-decoration: line-through; }

        .sidebar {
            position: absolute;
            top: 300;
            left: 50;
            width: 250px;
/*            float: left;
            width: 25%;*/
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .newForm {
            position: fixed;
            top: 300;
            left: 350;
            width: 250px;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .editForm {
            width: 250px;
            list-style: none;
        }
        #pageshowing{
            display: inline;
/*            float: right;*/
            top: 50;
            left: 300;
            width: 25%;
            list-style: none;
        }
        .header{
            margin-left: 0px;
            margin-right: 
        }

        .specialjum{
            padding-left:0;
            padding-right:0;
        }

    </style>
