
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
        .strike                 { text-decoration: line-through; }


/*        .editForm {
            width: 250px;
            list-style: none;
        }*/

        #page-list{
            float:left;
            overflow:hidden;
            content:none;
        } 
        #pageshowing{
            display: inline;
            float: right;
            overflow:hidden;
            top: 50;
            left: 300;
            list-style: none;
        }
/*        #page-list{
            float: left;
            width: 20%;
        }*/
        .header{
            margin-left: 0px;
            margin-right: 
        }

        .specialjum{
            padding-left:0;
            padding-right:0;
        }
        *:before {
            content: none;
        }



    </style>
